body {
font-family: "Open Sans", serif;
min-width: 200px;
max-width: 2160px;
min-height: 200px;
max-height: 2160px;
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1; 
animation-fill-mode: forwards;
background-color: #C2BDBC;
box-sizing: border-box;
margin: 0px;

}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
h1,
h2,
h3,
h4 {
font-family: "Oswald";
}
header {
display: inline-block;
position: fixed;
top: 0px;
overflow: visible;
z-index: 1;
width: 100%;
height: 15%;
background-color: white;
opacity: 0.9;
}
nav {
position: absolute;
right: 0px;
top: 80px;
margin-right: 50px;

}
a {
text-decoration: none;
color: black;
}

.logo {
font-size: 50px;
margin-left: 50px;
}
nav a:hover {
    color: gray;
}
nav a:active {
    background-color: gray;
}
nav a {
padding-right: 20px;
transition: 500ms 500ms ease-out;
font-size: 20px;
}
#About {
    margin-top: 150px;
}
.about-title {
font-size: 60px;
text-align: center;
color: black;
position: absolute;
top: 400px;
left: 0px;
width: 100%;
}
.about-description {
font-size: 20px;
width: 80%;
margin: 0 auto;
padding: 30px 0px;
}
button {
  margin: 0 auto;
  display: block;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: slategray;
  font-family: "Open Sans";
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: text-decoration 300ms 300ms ease-out;
}
button:hover {
    text-decoration: underline;
}
button:active {
    background-color: gray;
}
#read-more {
padding-top: 0px;
display: none;
}
#close-button {
    display: none;
}
.profilepic {
display: block;
margin: auto;
width: 80%;
height: 600px;
text-align: center;
opacity: 0.6;
}

.gallery-title {
    text-align: center;
    font-size: 60px;
}
.gallery-image {

   width: 45%;
   height: 50%; 
   padding: 10px 35px;
   float: left;
   margin-bottom: 30px;
}
.contact {
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.contact-title {
    text-align: center;
    font-size: 60px;
}
#contact i {
    padding: 10px;
    margin: 0 auto;
    position: static;
    transition: color 500ms 500ms ease-out;
    
}
#contact i:hover {
    color: blue;
}
.contact-description {
    font-size: 20px;
    text-align: center;
}
.gallery-description {
font-size: 20px;
width: 80%;
margin: 0px auto;
clear: both;
}
@media screen and (max-width: 767px) {
    header {
        width: 100%;
        height: 20%;
    }
    #about {
        margin-top: 300px;
    }
    nav {
        position: static;
        margin: 10px 0px;
        text-align: center;
    }
    nav a {
        padding-right: 0px;
        padding-left: 10px;
        font-size: 17px;
    }
    nav a:before {
        padding-left: 0px;
    }
    .logo {
        margin: 10px;
        text-align: center;
    }
    .about-image {
        height: 10%;
    }
    .gallery-image {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (width: 320px) {
    header {
        height: 25%;
    }
    nav a {
        padding-left: 5px;
    }
}
@media screen and (max-width: 374px) {
   #About {
       margin-top: 0px;
   }
   nav a {
       font-size: 12px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
header {
    height: 15%;
}
.gallery-image {
    width: 80%;
    margin-left: 6.5%;
}
}
@media screen and (max-height: 700px) {
    header {
        position: static;
    }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
    #About {
        margin-top: 0px;
    }
}
@media screen and (width: 768px) {
    nav {
        margin-right: 30px;
        top: 70px;
    }
    nav a {
        font-size: 16px;
    }
}
@media screen and (width: 1024px) and (height: 1366px) {
    header {
        height: 10%;
    }
    nav {
        top: 70px;
    }
}